<div class="dashboard dashboard-module dashboard-module-figures">
    <div class="dashboard-inner dashobard-module-inner">
        <div class="dashboard-header">
<!--            <span class="dashboard-header__text">{{header}}</span>-->
        </div>
        <div class="dashboard-component-container">
            Test: {{data.stats.average.total}}
        </div>
    </div>
</div>