<div class="dashboard dashboard-module dashboard-module-dash management-dash">
    <div class="dashboard-inner dashboard-module-inner">
        <div class="dash-header">
            <span class="dash-header--date dash-header--title">{{transformDateStringExtended componentData.date}}</span>
        </div>
        <div class="dash-component-container">
            <div class="dash-component dash-component--half dashboard-component-dash management-dash">
                <div class="dash-component-inner">
                    <div class="dash-elements-container">
                        <div class="dash-element dash-element--figures">
                            <div class="totals">
                                <div class="totals-amount">
                                    <span>{{componentData.day.stats.total.all}}</span>
                                </div>
                                <div class="totals-label">
                                    <span>Durchgeführte Impfungen</span>
                                </div>
                            </div>
                            <div class="tracks">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dash-component dash-component--half dashboard-component-dash management-dash">
                <div class="dash-component-inner">
                    <div class="dash-elements-container">
                        <div class="dash-element dash-element--figures">
                            <div class="totals">
                                <div class="totals-amount">
                                    <span>&empty;{{componentData.day.stats.average.total}}</span>
                                </div>
                                <div class="totals-label">
                                    <span>Impfungen pro Stunde</span>
                                </div>
                            </div>
                            <div class="tracks">

                            </div>
                        </div>
                        <div class="dash-element dash-element--graph">
                            <div class="average-graph-content">
                                <div>
                                    <canvas id="averageChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>