<div class="dashboard dashboard-module dashboard-module-switches">
    <div class="dashboard-inner dashboard-module-inner">
        <div class="dashboard-header">
<!--            <span class="dashboard-header__text">{{header}}</span>-->
        </div>
        <div class="dashboard-component-container">
            <div class="dashboard-component dashboard-component--fullwidth dashboard-component-dataTable">
                <div class="dashboard-component-header">
                    {{transformDateTimeStringExtended componentData.date}}
                </div>
                <div class="dashboard-subcomponent-container">

                </div>
            </div>
        </div>
    </div>
</div>