@use "../common";
@use "../app_navigation";
@use "../app_pages";
@use "../app_sidesheet";

@use "../../../node_modules/@material/button";
@use "../../../node_modules/@material/list";
@use "../../../node_modules/@material/checkbox"; // Required only for data table with row selection.
@use "../../../node_modules/@material/icon-button"; // Required only for data table with column sorting.
@use "../../../node_modules/@material/data-table/data-table";
@use "../../../node_modules/@material/banner/styles";
@use "../../../node_modules/@material/banner";
@use "../../../node_modules/@material/snackbar/mdc-snackbar";
@use "../../../node_modules/@material/floating-label/mdc-floating-label";
@use "../../../node_modules/@material/line-ripple/mdc-line-ripple";
@use "../../../node_modules/@material/notched-outline/mdc-notched-outline";
@use "../../../node_modules/@material/textfield";
@use "../../../node_modules/@material/textfield/icon";
@use "../../../node_modules/@material/fab";


@import "../variables";
@import "../color-variables";

@import "~material-icons-font/material-icons-font.css";


@include list.deprecated-core-styles;
@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include textfield.core-styles;
@include icon.icon-core-styles;
@include fab.core-styles;


.checkin-page{
  @media #{$desktop} {
    width: 100%;
    margin: 0;
  }
  width: auto;
  max-width: 100%;
  margin: 0 20px;
  .app-page-content {

    .checkin-container {
      display: flex;
      flex-flow: row wrap;
      $flex-wrap-detection: "(min-width: 1000px)";

      .form-container {
        .form-container-inner {
          padding: 10px;
          background-color: $page-element-color;
          box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
        }
        min-width: 400px;
        flex: 1 1 min-content;
        margin: 10px;


      }
      .interaction-container {
        @media #{$flex-wrap-detection}{
          flex: 0 1 50%;

        }
        min-width: 300px;
        margin: 10px;

        flex: 1 1 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        .interaction-container-inner {
          padding: 10px;
          background-color: $page-element-color;
          box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

          .fab-container {
            @media #{$flex-wrap-detection}{
              transform: translateY(-30px);
            }
          }
          .interactions-list {
            $color--important: #de243d;
            li.color--important {
              @include list.deprecated-item-primary-text-ink-color($color--important);
            }
          }
        }



      }


      .numberinput-container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin: .5em 0;

        .numberinput-element {
          font-size: 150%;
        }
        .clear-btn {
          flex: 0 0 1em;
          height: auto;
          width: 1em;
          font-family: "Material Icons";

          .mdc-button__icon {
            margin-right: 0;
          }
        }
      }
      .submit-button {
        @include button.container-fill-color(#c31d34);
      }
    }
  }

}
.banner-wrapper {
  position: relative;
  font-size: 150%;
  .checkout-banner {
    transition: height 0ms ease;
    @include banner.mobile-stacked;

    &.multi2, &.multi4 {
      .mdc-banner__content {
        max-width: unset;
      }
      .mdc-banner__graphic-text-wrapper {
        flex-flow: row wrap;
      }
      .checkout-number-container {
        flex-flow: row wrap;
      }
    }

    .mdc-banner__fixed {

    }
    .checkout-banner-text {
      font-size: 150%;
      display: block;
      width: 100%;
      margin-bottom:.5em;
    }
    .checkout-number-container {
      display: flex;
      flex-flow: row nowrap;
      justify-items: flex-end;
      .checkout-banner-number {
        flex: 1 1 auto;
        //display: block;
        line-height: 1em;
        font-size: 400%;
        color: #c31d34;
        @media #{$tablet} {
          font-size: 550%;
          &.multi2 {
            font-size: 450%;
          }
          &.multi4 {
            font-size: 400%;
          }
        }
      }
      .time-container {
        margin-left: 20px;
        flex: 1 1 auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        .checkout-time-label {
          position: relative;
          font-size: 120%;
        }
        .checkout-time {
          position: relative;
          font-size: 160%;
        }
      }

    }

    .banner-button {
      @media #{$tablet} {
        font-size: 18px;
        @include button.height(50px);
      }

    }
    .banner-button-next {
      @include button.container-fill-color(#c31d34);
      @include button.ink-color(#fff);
    }
    .mdc-banner__content {
      @media #{$tablet} {
        //flex-flow: row wrap;
        max-width: unset;

        .mdc-banner__graphic-text-wrapper {
          flex-flow: row wrap;
        }
        .checkout-number-container {
          flex-flow: row wrap;
        }
      }

      .mdc-banner__actions {
        @media #{$phone} {
          flex-flow: column nowrap;
          margin: 10px;
          button {
            margin-top: 10px;
          }
        }


      }
    }
  }

}

.checkout-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
  .app-page-content {
    overflow: scroll;
  }
  .checkout-container {

    .checkout-table {
      width: 95%;
      margin: auto;


      .checkout-table-container {
        @media #{$tablet} {
          .mdc-data-table__cell {
            font-size: 130%;
          }

          .checkout-cell-number {
            font-size: 180%;
          }
        }
        .checkout-table-row {
          .checkout-table-noEntryLabel {
            font-style: italic;
          }

          &.primary {

          }

          &.secondary {
            border-top: none;

            .secondary-icon {
              margin-right: 0;
              font-size:100%;
              color: #555;
            }
          }
        }
      }

    }
  }
}