$page-bg-color: #fefefe;
$page-element-color: #fff;

$primary-color: #c31d34;
$nav-color: #00293c;

$biontech-color: #3ea700;
$moderna-color: #a70000;
$astra-color: #0013bd;
$johnson-color: #b48d55;

$biontech-background-color: rgba(62, 167, 0, 0.2);
$moderna-background-color: rgba(167, 0, 0, 0.2);
$astra-background-color: rgba(0, 19, 189, 0.2);
$johnson-background-color: rgb(241, 222, 193);

$track-color: #0a3158;
$track-color-light: rgb(218, 232, 214);
$checkin-color: #831d30;
$checkin-color-light: rgb(241, 224, 227);
$apotheke-color: #00293c;
$apotheke-color-light: rgb(243, 237, 216);
$statistics-color: #1b1e21;

$management-color-light: #e1e7f5;

$track-color-A: #3ea700;
$track-color-B: #a70000;
$track-color-C: #0013bd;
$track-color-D: #b48d55;
$track-color-E: #035766;

