$page-bg-color: #fefefe;
$page-element-color: #fff;

$nav-color: #00293c;

$biontech-color: #3ea700;
$moderna-color: #a70000;
$astra-color: #0013bd;

$biontech-background-color: rgba(62, 167, 0, 0.2);
$moderna-background-color: rgba(167, 0, 0, 0.2);
$astra-background-color: rgba(0, 19, 189, 0.2);

$track-color: #0a3158;
$track-color-light: rgb(218, 232, 214);
$checkin-color: #831d30;
$checkin-color-light: rgb(241, 224, 227);
$apotheke-color: #00293c;
$apotheke-color-light: rgb(243, 237, 216);
$statistics-color: #1b1e21;

$management-color-light: #e1e7f5;

