$phone: "only screen and (max-width: 800px)";
$tablet-landscape: "only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: landscape)";
$tablet-portrait: "only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: portrait)";
$tablet: "only screen and  (min-width: 800px) and (max-width: 1280px)";
$desktop: "only screen and (min-width: 1280px)";



