@use "../../node_modules/@material/button";
@use "../../node_modules/@material/list";
@use "../../node_modules/@material/checkbox"; // Required only for data table with row selection.
@use "../../node_modules/@material/icon-button"; // Required only for data table with column sorting.
@use "../../node_modules/@material/data-table/data-table";
@use "../../node_modules/@material/banner/styles";
@use "../../node_modules/@material/banner";
@use "../../node_modules/@material/snackbar/mdc-snackbar";
@use "../../node_modules/@material/floating-label/mdc-floating-label";
@use "../../node_modules/@material/line-ripple/mdc-line-ripple";
@use "../../node_modules/@material/notched-outline/mdc-notched-outline";
@use "../../node_modules/@material/textfield";
@use "../../node_modules/@material/textfield/icon";
@use "../../node_modules/@material/fab";

@import "./app_pages";

@import "./variables";
@import "./color-variables";

@import "~material-icons-font/material-icons-font.css";


@include list.deprecated-core-styles;
@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include textfield.core-styles;
@include icon.icon-core-styles;
@include fab.core-styles;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.mdc-snackbar {
  .mdc-snackbar__action {
    display: none;
  }
  &.show-action {
    .mdc-snackbar__action {
      display: block;
    }
  }
}

.app-page-wrapper {
  width: 100%;
  height: 100%;

  .app-page-header {
    width: 80%;
    margin: 2em auto;

    .page-title {
      font-size: 150%;
      font-family: "Open Sans", Sans, sans-serif

    }
  }

  .app-page-content {

    font-size: 120%;

    @media #{$desktop} {
      width: calc(100% - 4em);
      padding: 2em 2em;
      margin: 0;

    }
    padding: 0;
    margin: 2em auto;
    width: 100%;
  }
}


.management-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
  .app-page-content {
    overflow: scroll;
  }
  .checkout-container {

    .checkout-table {
      width: 95%;
      margin: auto;


      .checkout-table-container {
        @media #{$tablet} {
          .mdc-data-table__cell {
            font-size: 130%;
          }

          .checkout-cell-number {
            font-size: 180%;
          }
        }
        .checkout-table-row {
          .checkout-table-noEntryLabel {
            font-style: italic;
          }

          &.primary {

          }

          &.secondary {
            border-top: none;

            .secondary-icon {
              margin-right: 0;
              font-size:100%;
              color: #555;
            }
          }
        }
      }

    }
  }
}
