@use "../../node_modules/@material/drawer";
@use "../../node_modules/@material/list";
@use "../../node_modules/@material/button/styles";
@use "../../node_modules/@material/icon-button";
@use "../../node_modules/@material/top-app-bar";
@use "../../node_modules/@material/top-app-bar/mdc-top-app-bar";

@import "./variables";
@import "./color-variables";

//@import "../../node_modules/@material-icons/font/css/all.css";
@import "~material-icons-font/material-icons-font.css";
//
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include icon-button.core-styles;


.topbar--disabled {
  display: none !important;
}
.mdc-top-app-bar {
  @include top-app-bar.fill-color($nav-color);

  // Only apply this style if below top app bar.
  z-index: 7;
}

.mdc-drawer {
  @include drawer.activated-overlay-color(rgba(132, 22, 22, 0.2));
  @include drawer.width(300px);
  @media #{$tablet} {
    @include drawer.width(350px);
    .mdc-drawer__title {
      font-size: 140%;
    }
    .mdc-drawer__subtitle {
      font-size: 110%;
    }
    .mdc-deprecated-list-item {
      font-size: 110%;
    }
  }
}


.navigation-subpage {
  display: none;
  &.navigation-subpage--disabled {
    display: none !important;
  }
  &.navigation-subpage--active {
    display: block;
  }
}
