@use "../../node_modules/@material/button";
@use "../../node_modules/@material/list";
@use "../../node_modules/@material/checkbox"; // Required only for data table with row selection.
@use "../../node_modules/@material/icon-button"; // Required only for data table with column sorting.
@use "../../node_modules/@material/switch";



@import "./variables";

@import "~material-icons-font/material-icons-font.css";


@include list.deprecated-core-styles;
@include checkbox.core-styles;
@include icon-button.core-styles;
@include switch.core-styles;



.sidesheet {
  .sidesheet-wrapper {
    width: 80%;
    margin: 1em auto;
    .sidesheet-cancel-button {
      .sidesheet-cancel-button-element {
        cursor: pointer;
      }
    }
    .sidesheet__header {
      .sidesheet__title {

      }
    }
    .sidesheet__body {
      @media #{$tablet} {
        font-size: 120%;
      }

      .settings-list {
        list-style: none;
        margin: 0;
        padding: 0;

        .settings-list-item {
          margin: 10px 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }
        .settings-list-separator {
          margin: 10px 0;
          width: 100%;
          height: 1px;
          background-color: rgba(0,0,0,0.12);
        }
      }
    }
  }
}

.select {
  @media #{$tablet} {
    font-size: 120%;
  }
}