@import "./variables";
@import "./color-variables";
@import "~material-icons-font/material-icons-font.css";


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.mdc-snackbar {
  .mdc-snackbar__action {
    display: none;
  }
  &.show-action {
    .mdc-snackbar__action {
      display: block;
    }
  }
}

.app-page-wrapper {
  width: 100%;
  flex: 1 1 auto;
  height: calc(100% - 60px);
  overflow:scroll;

  .app-page-header {
    width: 80%;
    margin: 2em auto;

    .page-title {
      font-size: 150%;
      font-family: "Open Sans", Sans, sans-serif

    }
  }

  .app-page-content {

    @media #{$tablet} {
      font-size: 120%;
    }

    @media #{$desktop} {
      width: calc(100% - 4em);
      padding: 2em 2em;
      margin: 0;
    }

    @media #{$phone} {
      margin: .5em auto .5em auto;
    }
    padding: 0;
    margin: 2em auto 1em auto;
    width: 100%;

    &.full-width {
      margin-left:  0;
      margin-right:  0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    &.full-height {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

/**
tabs
 */

.tabs {
  .tab-container {
    height: 100%;
    overflow: scroll;
    .tab {
      display: none;
    }

    .tab--active {
      display: block !important;
    }
  }
}