@use "../../node_modules/@material/button";
@use "../../node_modules/@material/list";
@use "../../node_modules/@material/checkbox"; // Required only for data table with row selection.
@use "../../node_modules/@material/icon-button"; // Required only for data table with column sorting.
@use "../../node_modules/@material/data-table/data-table";
@use "../../node_modules/@material/banner/styles";
@use "../../node_modules/@material/banner";
@use "../../node_modules/@material/snackbar/mdc-snackbar";
@use "../../node_modules/@material/floating-label/mdc-floating-label";
@use "../../node_modules/@material/line-ripple/mdc-line-ripple";
@use "../../node_modules/@material/notched-outline/mdc-notched-outline";
@use "../../node_modules/@material/textfield";
@use "../../node_modules/@material/textfield/icon";
@use "../../node_modules/@material/fab";
@use "../../node_modules/@material/card";



@import "./app_pages";


@import "./variables";
@import "./color-variables";

@import "~material-icons-font/material-icons-font.css";


@include list.deprecated-core-styles;
@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include textfield.core-styles;
@include icon.icon-core-styles;
@include fab.core-styles;
@include card.core-styles;

.mdc-snackbar {
  .mdc-snackbar__action {
    display: none;
  }
  &.show-action {
    .mdc-snackbar__action {
      display: block;
    }
  }
}

.checkin-page {
  @media #{$desktop} {
    width: 100%;
    margin: 0;
  }
  width: auto;
  max-width: 100%;
  margin: 0 20px;

  .app-page-content {

    .checkin-container {
      display: flex;
      flex-flow: row wrap;
      $flex-wrap-detection: "(min-width: 1000px)";

      .choosing-container {
        min-width: 300px;
        margin: 10px;

        flex: 1 1 100%;

        .choosing-container-inner {
          display: flex;
          flex-flow: row nowrap;
          .choosing-item {
            flex: 1 1 33%;
            padding: 10px;


            &.biontech {
              .choosing-item-media {
                background-color: $biontech-background-color;
              }

            }
            &.moderna {
              .choosing-item-media {
                background-color: $moderna-background-color;
              }

            }
            &.astra {
              .choosing-item-media {
                background-color: $astra-background-color;
              }

            }

            .choosing-card {
              .choosing-card__action-section {
                .choosing-card-counter {
                  //left: 50%;
                  //top: 50%;
                  //transform: translate(-50%, -50%);
                  top: unset;
                  bottom: 20px;
                  right: 20px;
                  left: unset;
                  font-family: monospace, "sans";
                  font-size: 300%;

                  &.processing {
                    &:before {
                      content: " ";
                      display: block;
                      width: 16px;
                      height: 16px;
                      margin: 8px;
                      border-radius: 50%;
                      border: 6px solid #333;
                      border-color: #333 transparent #333 transparent;
                      animation: lds-dual-ring 1.2s linear infinite;
                    }
                  }

                  .choosing-card-counter-loader {
                    font-size: 50%;
                  }
                  .lds-dual-ring {
                    display: inline-block;
                    width: 80px;
                    height: 80px;
                  }
                  .lds-dual-ring:after {
                    content: " ";
                    display: block;
                    width: 64px;
                    height: 64px;
                    margin: 8px;
                    border-radius: 50%;
                    border: 6px solid #333;
                    border-color: #333 transparent #333 transparent;
                    animation: lds-dual-ring 1.2s linear infinite;
                  }
                  @keyframes lds-dual-ring {
                    0% {
                      transform: rotate(0deg);
                    }
                    100% {
                      transform: rotate(360deg);
                    }
                  }
                }
              }
              .choosing-card__text-section {
                padding: 15px 10px 0 10px;
                .choosing-card-title {
                  font-weight: bold;
                  font-size: 110%;
                }

              }
              .choosing-item-media {
                height: 200px;
                padding: 10px;
              }
            }

          }
        }
      }
    }
  }
}