@import "~@fontsource/open-sans/index.css";
@import "~@fontsource/open-sans/300-italic.css";

//@import "./error";


@import "./variables";
@import "./color-variables";


body {
  width: 100vw;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Sans;
}

.app-wrapper {
  width: 100%;
  height: 100vh;

  .app-content-container {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    background-color: $page-bg-color;


    .page-container {
      height: 100%;
      overflow: scroll;
      flex: 1 1 auto;
      position: relative;
      display: flex;
      flex-flow: column nowrap;


    }

    .sidesheet-container {
        width: 0;
        display: none;
        border-left: 1px solid rgba(0,0,0,0.12);
      &.sidesheet-active {
        display: block;
        width: 100%;
        height: inherit;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 4;
        background-color: $page-element-color;
        @media #{$desktop} {
          flex: 0 0 300px;
          position: relative;
          width: auto;
          height: auto;

        }
        @media #{$tablet-landscape} {
          flex: 0 0 400px;
          position: relative;
          width: auto;
          height: auto;

        }
      }
    }
  }
}

/*
general styling
 */
.hidden {
  display: none;

}

.force-hidden {
  display: none !important;
}

/*
cards
 */

.cards-container {
  display: flex;
  flex-flow: row wrap;
}
.card {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  &.card-full {
    flex: 1 1 100%;
  }
  &.card-half {
    flex: 1 1 50%;
  }
}

/*
page elements
 */


.itemlist-header-container{
  width: 100%;
  border-bottom: 1px solid #666;
  ul.itemlist {
    .inner {
      //grid-template-columns: 2fr 1fr 1fr 20px !important;
    }
  }
}

.itemlist-content-container{
  ul.itemlist {
    width: 100%;
  }
}

ul.itemlist {
  &.border {
    li {
      .inner {

        .item-property {
          //&:not(:last-of-type) {
          //  border-right: 1px solid #AAA;
          //}
          border-right: 1px solid #AAA;
        }
      }
    }
  }
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  $bgCol1: #ffffff;
  $bgCol2: #f9f9f9;
  $text-hover-color: rgba(124, 0, 26, 0.2);

  display: flex;
  flex-flow: column wrap;

  font-weight: lighter;

  li {

    flex: 1 1 auto;
    background-color: $bgCol1;

    &:nth-child(odd) {
      background-color: $bgCol2;
    }

    &.borderBottom {
      border-bottom: 1px solid #666;
    }

    .itemDelete {
      svg {
        width: 1em;
      }
    }

    .inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      //padding: 0 1em;

      .item-property {
        padding: .5em 0;
        position: relative;
        margin-left: 10px;
        flex: 0 0 240px;

        &.after {
          content: "";
          display: block;
          width: 100%;
          position: absolute;
          bottom: -3px;
          left: 0;
        }

        &:hover > &.after {
          border-bottom-color: $text-hover-color;
        }
      }
    }
  }

  &:not(.itemlist-noSelect){
    li {
      &:not(.noSelect):hover {
        background-color: rgba(124, 0, 26, 0.2);
        cursor: pointer;
      }
    }
  }
  &:not(.noHover) {
    li {
      &:not(.noSelect):hover {
        background-color: rgba(124, 0, 26, 0.2);
      }
    }
  }

  &.itemlist-style-clean {
    li {
      background-color: transparent;

      .inner {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &.itemlist-noSelect {
    li:hover {
      cursor: default;

      span {
        cursor: text;
      }
    }
  }
}



/**
infocards
 */

.infocards-container {

  width: 100%;
  background-color: $page-bg-color;
}
.infocards-inner {

  padding: 1em 0;
  display: flex;
  flex-flow: row wrap;

  @media #{$desktop}, #{$tablet} {
    padding: 1em;
  }

  .infocards-section {
    .infocards-section-inner {
      display: flex;
      flex-flow: column wrap;

      margin-bottom: 2em;
    }

    &.infocards-card {
      flex: 1 1 auto;
      margin-bottom: 0;


      .infocards-section-inner {
        margin: 20px 0;
        padding: 15px;
        background-color: $page-bg-color;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

        @media #{$desktop}, #{$tablet} {
          margin: 20px;
        }
      }

      &.card-full {
        flex: 0 0 100%;
      }
      &.card-half {

        @media #{$desktop}, #{$tablet} {
          flex: 1 0 50%;
          min-width: 30em;
        }
      }
    }
    .infocards-sectionheader {
      font-size: 120%;
      margin-bottom: .5em;
      color: #666;
      padding: 12px 12px 0 12px;

      font-variant: small-caps;
      letter-spacing: .15em;
    }

    .infocards-itemList {

    }
    .infocards-content__text {
      padding: 12px 12px 0 12px;
    }

    .infocards-primary-text {
      font-weight: bold;
      font-size: 120%;
    }


    .infocards-secondary-text {
      font-size: 80%;
      color: #333;
    }

    .infocards-item {

      flex: 1 1 auto;

      span.infocards-item-label, label.infocards-item-label {
        width: 100%;
        float: left;
        display: block;
        margin-bottom: .5em;

        @media #{$desktop}, #{$tablet} {
          width: auto;
        }

        &.infocards-attribute-name {

          width: 100%;
          margin-right: 2em;
          margin-bottom: 0;

          color: #555;

          @media #{$desktop}, #{$tablet} {
            width: 8em;
          }
        }
      }
    }
    .infocards-buttons {
      padding: 12px 12px 0 12px;
    }
  }
}

.color--biontech {
  color: $biontech-color;
  &.force-color {
    color: $biontech-color !important;
  }
}
.color--moderna {
  color: $moderna-color;
  &.force-color {
    color: $moderna-color !important;
  }
}
.color--astra {
    color: $astra-color;
  &.force-color {
    color: $astra-color !important;
  }
}
.color--johnson {
  color: $johnson-color;
  &.force-color {
    color: $johnson-color !important;
  }
}

.text-secondary {
  color: #AAA;
}

.trackColor--A {
  color: $track-color-A;
}

.trackColor--B {
  color: $track-color-B;
}

.trackColor--C {
  color: $track-color-C;
}

.trackColor--D {
  color: $track-color-D;
}

.trackColor--E {
  color: $track-color-E;
}