    <div class="mdc-drawer__content">
        <div class="mdc-drawer__content management">
            <nav class="mdc-deprecated-list">
                <a class="mdc-deprecated-list-item navigation-subpage-mainlink" href="#" aria-current="page">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">exit_to_app</i>
                    <span class="mdc-deprecated-list-item__text">Teamleiter-Modul verlassen</span>
                </a>
                <div role="separator" class="mdc-deprecated-list-divider"></div>
<!--                <a id="nav-management-subpage--dashboard" class="navigation-element mdc-deprecated-list-item mdc-deprecated-list-item--activated" href="#" aria-current="page">-->
<!--                    <span class="mdc-deprecated-list-item__ripple"></span>-->
<!--                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">dashboard</i>-->
<!--                    <span class="mdc-deprecated-list-item__text">Dashboard</span>-->
<!--                </a>-->
                <h3 class="mdc-deprecated-list-group__subheader">Impfzahlen</h3>
                <a id="nav-management-subpage--total" class="navigation-element mdc-deprecated-list-item mdc-deprecated-list-item--activated" href="#" aria-current="page">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">coronavirus</i>
                    <span class="mdc-deprecated-list-item__text">Gesamtzahlen</span>
                </a>
                <a id="nav-management-subpage--tracks" class="navigation-element mdc-deprecated-list-item" href="#" aria-current="page">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">add_road</i>
                    <span class="mdc-deprecated-list-item__text">Übersicht Impfstrecken</span>
                </a>
                <a id="nav-management-subpage--statistics" class="navigation-element mdc-deprecated-list-item" href="#">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">timeline</i>
                    <span class="mdc-deprecated-list-item__text">Tagesstatistik</span>
                </a>
<!--                <h3 class="mdc-deprecated-list-group__subheader">Verwaltung</h3>-->
<!--                <a class=" navigation-element mdc-deprecated-list-item" href="#" aria-current="page">-->
<!--                    <span class="mdc-deprecated-list-item__ripple"></span>-->
<!--                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">tablet_android</i>-->
<!--                    <span class="mdc-deprecated-list-item__text">Tablets</span>-->
<!--                </a>-->
<!--                <a class="navigation-element mdc-deprecated-list-item" href="#">-->
<!--                    <span class="mdc-deprecated-list-item__ripple"></span>-->
<!--                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true"></i>-->
<!--                    <span class="mdc-deprecated-list-item__text">Meldungen</span>-->
<!--                </a>-->
            </nav>
        </div>
    </div>