    <div class="mdc-drawer__content">
        <div class="mdc-drawer__content statistics-">
            <nav class="mdc-deprecated-list">
                <a class="mdc-deprecated-list-item navigation-subpage-mainlink" href="#" aria-current="page">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">exit_to_app</i>
                    <span class="mdc-deprecated-list-item__text">Teamleiter-Modul verlassen</span>
                </a>
                <div role="separator" class="mdc-deprecated-list-divider"></div>
                <a class="mdc-deprecated-list-item mdc-deprecated-list-item--activated" href="#" aria-current="page">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">dashboard</i>
                    <span class="mdc-deprecated-list-item__text">Dashboard</span>
                </a>
                <a class="mdc-deprecated-list-item" href="#">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">pin</i>
                    <span class="mdc-deprecated-list-item__text">Dokumentation</span>
                </a>
                <a class="mdc-deprecated-list-item" href="#">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">trending_up</i>
                    <span class="mdc-deprecated-list-item__text">Meldungen</span>
                </a>
            </nav>
        </div>
    </div>