    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">{{user.name}}</h3>
        <h6 class="mdc-drawer__subtitle">{{user.role.name}}</h6>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-drawer__content management">
            <nav class="mdc-deprecated-list">
                <a class="mdc-deprecated-list-item navigation-subpage-mainlink" href="#" aria-current="page">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">exit_to_app</i>
                    <span class="mdc-deprecated-list-item__text">Zurück</span>
                </a>
                <div role="separator" class="mdc-deprecated-list-divider"></div>
                <a id="nav-management-subpage--dashboard" class="navigation-element mdc-deprecated-list-item" href="/settings" aria-current="page">
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">dashboard</i>
                    <span class="mdc-deprecated-list-item__text">System</span>
                </a>
                <h3 class="mdc-deprecated-list-group__subheader">Datenbank</h3>
                <a id="app-link-usermanagement" class="navigation-element mdc-deprecated-list-item" href="/settings/tasks" >
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">people</i>
                    <span class="mdc-deprecated-list-item__text">Aufgaben</span>
                </a>
                <a id="app-link-usermanagement" class="navigation-element mdc-deprecated-list-item" href="/settings/tracks" >
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">people</i>
                    <span class="mdc-deprecated-list-item__text">Impfstrecken</span>
                </a>
            </nav>
        </div>
    </div>