extends ../../layout

block page_includes
  link(rel='stylesheet', href='dist/management.css')
  script(src="dist/management.js")

block content

  #wrapper.unisams-app.app-wrapper.protocol-app
    #app-container.app-content-container.mdc-drawer-app-content.mdc-top-app-bar--fixed-adjust
      #page-container.page-container.has-sidesheet
      #sidesheet-container.sidesheet-container





