@use "../../../node_modules/@material/snackbar/mdc-snackbar";
@use "../../../node_modules/@material/button";
@use "../../../node_modules/@material/list";
@use "../../../node_modules/@material/checkbox"; // Required only for data table with row selection.
@use "../../../node_modules/@material/icon-button"; // Required only for data table with column sorting.
@use "../../../node_modules/@material/switch";

@import "../app_pages";

@import "../variables";
@import "../color-variables";

@include checkbox.core-styles;
@include icon-button.core-styles;
@include switch.core-styles;

@import "~material-icons-font/material-icons-font.css";

.app-page-wrapper {
  width: 100%;
  height: 100%;

  .app-page-header {
    width: 80%;
    margin: 2em auto;

    .page-title {
      font-size: 150%;
      font-family: "Open Sans", Sans, sans-serif

    }
  }

  .app-page-content {
    //
    //font-size: 120%;
    //
    //@media #{$desktop} {
    //  width: calc(100% - 4em);
    //  padding: 2em 2em;
    //  margin: 0;
    //
    //}
    //padding: 0;
    //margin: 2em auto;
    //width: 100%;
  }
}

.devices-content {
  .devices-list-container {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    .devices-list {
      width: 100%;
    }
  }
}