extends layout

block page_includes
  link(rel='stylesheet', href='dist/index.css')
  script(src="dist/index.js")

  link(rel='stylesheet', href='/css/preloader.css')



block content
  #wrapper.unisams-app.app-wrapper.protocol-app
    #app-container.app-content-container.mdc-drawer-app-content
      #page-container.page-container





