extends layout

block page_includes
  link(rel='stylesheet', href='dist/index.css')
  script(src="dist/index.js")

  link(rel='stylesheet', href='/css/preloader.css')



block content
  #wrapper.unisams-app.app-wrapper.protocol-app
    #app-container.app-content-container.mdc-drawer-app-content.mdc-top-app-bar--fixed-adjust
      #page-container.page-container.has-sidesheet
        .page-container-inner
          .index-header
            .index-header__text
              | Bereich wählen
          .index-choosing-container
            each item in items
              div(class="mdc-card index-choosing-item choosing-item__" + item.class)
                .choosing-item-inner.mdc-card__primary-action
                      .choosing-item__title=item.name


      #sidesheet-container.sidesheet-container





