doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="manifest" href="/manifest.json")

    if (user !== undefined)
      script.
        window.user = !{JSON.stringify(user)}
    if (task !== undefined)
      script.
        window.task = !{JSON.stringify(task)}

    block page_includes

  body
    //include preloader
    block content