doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="manifest" href="/manifest.json")

    if (user !== undefined)
      script.
        window.user = {};
        window.user.username = "#{user.username}";
        window.user._id = "#{user._id}";

    block page_includes

  body
    //include preloader
    block content