extends ../../layout

block page_includes
  link(rel='stylesheet', href='/dist/display.css')
  script(src="/dist/displayFlow.js")

  link(rel='stylesheet', href='/css/preloader.css')



block content
  #wrapper.unisams-app.app-wrapper.protocol-app
    #app-container.app-content-container
      #page-container.flow-page-container.page-container.has-sidesheet
      #sidesheet-container.sidesheet-container





