@use "../../../node_modules/@material/button";
@use "../../../node_modules/@material/list";
@use "../../../node_modules/@material/checkbox"; // Required only for data table with row selection.
@use "../../../node_modules/@material/icon-button"; // Required only for data table with column sorting.
@use "../../../node_modules/@material/data-table/data-table";
@use "../../../node_modules/@material/snackbar/mdc-snackbar";
@use "../../../node_modules/@material/floating-label/mdc-floating-label";
@use "../../../node_modules/@material/line-ripple/mdc-line-ripple";
@use "../../../node_modules/@material/notched-outline/mdc-notched-outline";
@use "../../../node_modules/@material/fab";
@use "../../../node_modules/@material/card";
@use "../../../node_modules/@material/list/mdc-list";
@use "../../../node_modules/@material/menu-surface/mdc-menu-surface";
@use "../../../node_modules/@material/menu/mdc-menu";
@use "../../../node_modules/@material/dialog";


@import "../app_pages";


@import "../variables";
@import "../color-variables";


@import "~material-icons-font/material-icons-font.css";
@import "~@fontsource/open-sans/index.css";

@include list.deprecated-core-styles;
@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include fab.core-styles;
@include card.core-styles;

.dashboard {
  background-color: #fdfdfd;
  .dashboard-inner {
    .dashboard-header {
      font-size: 110%;
      margin: 0 0 0 10px;
    }
    .dashboard-component-container {
      display: flex;
      flex-flow: row wrap;

      .dashboard-component {
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
      }

      .dashboard-component, .dashboard-subcomponent {
        margin: 10px 0 10px 0;

        &.dashboard-component--fullwidth {
          flex: 1 1 100%;
        }
        &.dashboard-component--short {
          flex: 1 1 auto;
        }

        &.dashboard-subcomponent-amount {
          display: flex;
          flex-flow: row wrap;
          .dashboard-component-label {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            .dashboard-component-label__text {
              flex: 0 0 min-content;
              font-size: 100%;
              color: #0c2e38
            }
          }
          .dashboard-component-value {
            flex: 0 0 min-content;
            margin-right: 10px;
            display: flex;
            flex-flow: column nowrap;
            .dashboard-component-value__text {
              flex: 0 0 min-content;
              line-height: 100%;
              font-size: 200%;
              color: #202028;
            }
          }
        }

        .dashboard-component-header {
          margin-bottom: 20px;
          font-size: 120%;
          color: #686868
        }
      }

      /**
        special classes
         */

      .dashboard-component-figures {

        .dashboard-subcomponent-container {
          display: grid;
          grid-template-rows: auto auto;
          grid-template-columns: 1fr 1fr 1fr;
          grid-row-gap: 10px;
          grid-template-areas:
                    "main main main"
                    "content1 content2 content3";
        }

        .figures-main {
          grid-area: main;
          font-size: 110%;
          .dashboard-component-label__text {
            font-size: 100%;
            color: #0c2e38
          }
          .dashboard-component-value__text {
            font-size: 200%;
            color: #202028;
          }

        }
        .figures-part {
          .dashboard-component-label__text {
            font-size: 100%;
            color: #0c2e38
          }
          .dashboard-component-value__text {
            font-size: 200%;
            color: #202028;
          }

          &.figures--biontech {
            .dashboard-component-value__text {
              color: $biontech-color;
            }
          }
          &.figures--moderna {
            .dashboard-component-value__text {
              color: $moderna-color;
            }
          }
          &.figures--astra {
            .dashboard-component-value__text {
              color: $astra-color;
            }
          }

          &.figures--vials {
            .dashboard-component-value__text {
              color: #333 !important;
            }

          }

        }

      }

      .dashboard-component-dataTable {
        .dashboard-subcomponent-table {
          width: 80%;
          margin: 10px 0;
          .mdc-data-table {
            width: 100%;
          }
        }
      }
    }
  }
}

/*
modules
 */

.dashboard-module-container {
  display: flex;
  flex-flow: row wrap;


  .dashboard-module-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.switch-entry-menu {
  right: 0 !important;
  left: unset !important;

  .switch-entry-menu__delete {
    color: #af1616;
  }
}


/*
mobile view
 */

.dashboard {
  .dashboard-inner {
    .dashboard-component-container.mobile {
      font-size: 80%;

      .dashboard-component-figures {

        .dashboard-subcomponent-container {
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 10px;
          grid-template-areas: unset;

          .dashboard-subcomponent-title {
            grid-column: 1 / 3;
          }
          .figures-main {
            grid-area: unset;
          }
        }
      }
    }
  }
}



/*
management dash
 */

.management-dash {
  .dash-header {

    color: #333;
    padding: 1em 10px 1em 45px;
    margin: 0 0 1em 0;
    background-color: #fff;
    border-bottom: 1px solid #AAA;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

    .dash-header--title {
      font-weight: bold;
      font-size: 110%;
      margin: 15px 0;
    }
    .dash-header--sub {
      font-size: 90%;

    }
  }
  .dash-component-container {
    padding: 10px 30px;
    display: flex;
    flex-flow: row wrap;

    @media #{$phone} {
      padding: 5px 0;
      flex-flow: column nowrap;
    }

    .dash-component {
      flex: 1 1 auto;
      max-width: 100%;

      &.dash-component--fullwidth {
        flex: 0 0 100%;
      }
      &.dash-component--half {
        flex: 1 1 50%;
      }
      .dash-component-inner {
        padding: 10px;
        margin: 15px 15px;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
        background-color: #fff;

        height: calc(100% - 25px);
      }

      .dash-component-header {
        display: block;
        width: 100%;
        font-size: 120%;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        margin-bottom: 10px;
      }
      .dash-elements-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        .dash-element {
          flex: 1 1 auto;
          &.auto {

          }
          &.full {
            flex: 0 0 100%;
          }
          &.half {
            flex: 0 0 50%;
          }
          &.half-auto {
            flex: 1 1 50%;
          }
        }

        .dash-element--figures {
          display: flex;
          flex-flow: row wrap;

          .totals {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            padding: 10px 0;

            .totals-amount {
              font-size: 160%;
              width: 100%;
            }
            .totals-label {
              color: #333;
            }
          }
        }
        .dash-element--graph {
          .chart-container {
            position: relative;
            width: 100%;
          }
        }
      }
    }
  }

}

.small {
  font-size: 80%;
  color:#666;
}

#averageChart-container {

}

#totalChart-container {
  max-width: 500px;
  @media #{$phone} {
    max-width: 400px;
  }
}