<div id="bottom" class="app-bottom bottom-navigation">
    <div class="bottom-navigation-inner">
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button id="tab1" class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" data-tabid="1" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">trending_up</span>
                                <span class="mdc-tab__text-label">Tagesübersicht</span>
                            </span>
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>

<!--                        <button id="tab2" class="mdc-tab" role="tab" aria-selected="true" data-tabid="2" tabindex="0">-->
<!--                            <span class="mdc-tab__content">-->
<!--                                <span class="mdc-tab__icon material-icons" aria-hidden="true">trending_up</span>-->
<!--                                <span class="mdc-tab__text-label">Impfstoffwechsel</span>-->
<!--                            </span>-->
<!--                            <span class="mdc-tab-indicator">-->
<!--                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>-->
<!--                            </span>-->
<!--                            <span class="mdc-tab__ripple"></span>-->
<!--                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>