<div class="app-page-wrapper settings-page">
    <div class="app-page-content">
        <div id="index-container" class="index-container">
            <div class="index-header">
                <div class="index-header__text">
                    Bereich wählen
                </div>
            </div>
            <div class="infocards-inner ">
                <div class="infocards-section infocards-card card-full">
                    <div class="infocards-section-inner">
                        <div class="infocards-sectionheader">
                            <span>
                                Checkout
                            </span>
                        </div>
                        <div class="infocards-content__text">
                            <span class="infocards-secondary-text">
                                Zählung der durchgeführten Impfungen
                            </span>
                        </div>
<!--                        <div class="infocards-buttons">-->
<!--                            <div class="db-item-buttons">-->
<!--                                <div class="button-container">-->
<!--                                    <button class="mdc-button mdc-button--raised dbItem-delete-button">-->
<!--                                        <span class="mdc-button__label">Auswählen</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="infocards-inner ">
                <div class="infocards-section infocards-card card-full">
                    <div class="infocards-section-inner">
                        <div class="infocards-sectionheader">
                            <span>
                                Checkout B
                            </span>
                        </div>
                        <div class="infocards-content__text">
                            <span class="infocards-secondary-text">
                                Aufruf der Wartenummern
                            </span>
                        </div>
<!--                        <div class="infocards-buttons">-->
<!--                            <div class="db-item-buttons">-->
<!--                                <div class="button-container">-->
<!--                                    <button class="mdc-button mdc-button--raised dbItem-delete-button">-->
<!--                                        <span class="mdc-button__label">DELETE</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
<!--            <div class="infocards-inner ">-->
<!--                <div class="infocards-section infocards-card card-full">-->
<!--                    <div class="infocards-section-inner">-->
<!--                        <div class="infocards-sectionheader">-->
<!--                            <span>-->
<!--                                Impfstrecke-->
<!--                            </span>-->
<!--                        </div>-->
<!--                        <div class="infocards-content__text">-->
<!--                            <span class="infocards-secondary-text">-->
<!--                                Aufruf der Wartenummern-->
<!--                            </span>-->
<!--                        </div>-->
<!--                        <div class="infocards-buttons">-->
<!--                            <div class="db-item-buttons">-->
<!--                                <div class="button-container">-->
<!--                                    <button class="mdc-button mdc-button--raised dbItem-delete-button">-->
<!--                                        <span class="mdc-button__label">DELETE</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
        <div class="mdc-snackbar">
            <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
                <div class="mdc-snackbar__label" aria-atomic="false">
                    Hier könnte Ihre Meldung stehen.
                </div>
                <div class="mdc-snackbar__actions" aria-atomic="true">
                    <button type="button" class="mdc-button mdc-snackbar__action">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
