<div class="app-page-wrapper statistics-page">
    <div class="app-page-content">
        <div id="statistics-container" class="statistics-container">
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>
