<div class="app-page-wrapper management-page tabs">
    <!--    <div class="app-page-header">-->
    <!--        <div class="page-title">-->
    <!--            Check In - Vorkontrolle-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="tab-container">
        <div id="tab--figures" class="app-page-content tab" data-tabid="1">
            <div id="figures-container">

            </div>
        </div>
        <div id="tab--dashboard" class="app-page-content full-height full-width tab" data-tabid="2">
            <div id="dashboard-container">

            </div>
        </div>
        <div id="tab--switched" class="app-page-content tab" data-tabid="3">
            <div id="switched-container">

            </div>
        </div>
    </div>


    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Hier könnte Ihre Meldung stehen.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label"></span>
                </button>
            </div>

        </div>
    </div>
</div>
<div id="bottom-container"></div>