<div class="app-page-wrapper checkout-page">
    <div id="banner-wrapper" class="banner-wrapper">

    </div>
<!--    <div class="app-page-header">-->
<!--        <div class="page-title">-->
<!--            Check In - Wartebereich-->
<!--        </div>-->
<!--    </div>-->
    <div class="app-page-content">
        <div id="checkout-container" class="checkout-container">

        </div>
        <div class="mdc-snackbar">
            <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
                <div class="mdc-snackbar__label" aria-atomic="false">
                    Hier könnte Ihre Meldung stehen.
                </div>
                <div class="mdc-snackbar__actions" aria-atomic="true">
                    <button type="button" class="mdc-button mdc-snackbar__action">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
