<div class="app-page-wrapper checkin-page">
    <div class="app-page-header">
        <div class="page-title">
            Check In - Vorkontrolle
        </div>
    </div>
    <div class="app-page-content">
        <div class="checkin-container">
            <div>
                <div id="numberinput-container--primary" class="numberinput-container hide-label">
                    <label class="numberinput-label" for="numberinput-element--primary">1</label>
                    <input autocomplete="off" id="numberinput-element--primary" class="numberinput-element" type="text" maxlength="4"/>
                </div>
                <button id="add-button" class="add-button mdc-button mdc-button--outlined">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                    <span class="mdc-button__label">Wartenummer hinzufügen</span>
                </button>
                <button id="submit-button" type="submit" class="submit-button mdc-button mdc-button--raised">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">send</i>
                    <span class="mdc-button__label">Bestätigen</span>
                </button>
            </div>
        </div>
    </div>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Can't send photo. Retry in 5 seconds.
            </div>

        </div>
    </div>
</div>