<div class="app-page-wrapper checkout-page">
    <div id="banner-wrapper" class="banner-wrapper">

    </div>
<!--    <div class="app-page-header">-->
<!--        <div class="page-title">-->
<!--            Check In - Wartebereich-->
<!--        </div>-->
<!--    </div>-->
    <div class="app-page-content">
        <div id="checkout-container" class="checkout-container">

        </div>
    </div>
</div>
