<div class="app-page-wrapper checkin-page">
<!--    <div class="app-page-header">-->
<!--        <div class="page-title">-->
<!--            Check In - Vorkontrolle-->
<!--        </div>-->
<!--    </div>-->
    <div class="app-page-content">
        <div class="checkin-container">
            <div class="choosing-container">
                <div class="choosing-container-inner">
                    <div class="choosing-item biontech" data-type="1">
                        <div class="choosing-item-inner">
                            <span class="choosing-label">BionTech</span>
                        </div>
                    </div>
                    <div class="choosing-item moderna" data-type="2">
                        <div class="choosing-item-inner">
                            <span class="choosing-label">Moderna</span>
                        </div>
                    </div>
                    <div class="choosing-item astra" data-type="3">
                        <div class="choosing-item-inner">
                            <span class="choosing-label">Astrazenecca</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Hier könnte Ihre Meldung stehen.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label"></span>
                </button>
            </div>

        </div>
    </div>
</div>
