<div class="app-page-wrapper checkout-page">
    <div class="app-page-header">
        <div class="page-title">
            Check In - Wartebereich
        </div>
    </div>
    <div class="app-page-content">
        <div class="checkout-container">
            <ul class="mdc-list mdc-list--dense mdc-list--icon-list checkout-list">
                {{#each entries}}
                    <div class="checkout-list-section">
                        {{#each data}}
                            <li class="mdc-list-item checkout-list-item {{#if @first}}primary{{else}}secondary{{/if}}" tabindex="0">
                            <span class="mdc-list-item__ripple"></span>
                                {{#if @first}}{{else}}<span class="mdc-list-item__graphic material-icons">arrow_right</span>{{/if}}
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">{{this}}</span>
                            </span>
                            {{#if @first}}<span class="mdc-list-item__meta">{{transformTimeString ../this.date}}</span>{{/if}}
                        </li>
                        {{/each}}
                    </div>
                    <li role="separator" class="mdc-list-divider"></li>
                {{/each}}

            </ul>
        </div>
    </div>
</div>