<div class="app-page-wrapper device-page">
    <div class="app-page-header">
        <div class="page-title">
            Mein Gerät
        </div>
    </div>
    <div class="app-page-content">
        <div id="device-container" class="settings-container">

        </div>
        <div class="mdc-snackbar">
            <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
                <div class="mdc-snackbar__actions" aria-atomic="true">
                    <button type="button" class="mdc-button mdc-snackbar__action">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
