<div class="app-page-wrapper checkin-page tabs">
<!--    <div class="app-page-header">-->
<!--        <div class="page-title">-->
<!--            Check In - Vorkontrolle-->
<!--        </div>-->
<!--    </div>-->
    <div class="tab-container">
        <div id="tab--ausgabe" class="app-page-content tab " data-tabid="1">
            <div class="checkin-container">
                <div class="choosing-container">
                    <div class="choosing-container-inner">

                        <div class="choosing-item biontech" data-type="1">
                            <div class="mdc-card choosing-card">
                                <div class=" choosing-card-counter-container">
                                    <div class="mdc-card__primary-action choosing-card__action-section" data-type="1" data-second="false">
                                        <div class="my-card__media mdc-card__media mdc-card__media--16-9 choosing-item-media choosing-card-counter-part first" data-type="1" data-second="false">
                                            <div id="biontech-counter--first" class="mdc-card__media-content choosing-card-counter"><span class="choosing-card-counter-loader lds-dual-ring"></span></div>
                                            <!--                                        <div  class="mdc-card__media-content choosing-card-timestamp"><span class="choosing-card-timestamp__text">zuletzt&nbsp;</span><span id="astra-timer" class="choosing-card-timestamp__value"></span></div>-->
                                        </div>
                                    </div>
                                    <div class="mdc-card__primary-action choosing-card__action-section" data-type="1" data-second="true">
                                        <div class="my-card__media mdc-card__media mdc-card__media--16-9 choosing-item-media choosing-card-counter-part second" data-type="1" data-second="true">
                                            <div id="biontech-counter--second" class="mdc-card__media-content choosing-card-counter"><span class="choosing-card-counter-loader lds-dual-ring"></span></div>
                                            <!--                                        <div  class="mdc-card__media-content choosing-card-timestamp"><span class="choosing-card-timestamp__text">zuletzt&nbsp;</span><span id="astra-timer" class="choosing-card-timestamp__value"></span></div>-->
                                        </div>
                                    </div>

                                    <!-- ... additional primary action content ... -->
                                </div>
                                <div class="sublabel">
                                    <span class="choosing-card-title">Erstimpfung</span>
                                    <span class="choosing-card-title">Zweitimpfung</span>
                                </div>
                                <div class="choosing-card__text-section">
                                    <span class="choosing-card-title">BionTech</span>
                                </div>
                                <div class="mdc-card__actions">
                                    <div class="mdc-card__action-buttons">
                                        <button id="biontech-refresh-button" class="mdc-icon-button mdc-card__action mdc-card__action--icon refresh-button">
                                            <i class="material-icons mdc-icon-button__icon ">refresh</i>
                                        </button>
                                        <button id="biontech-remove-button" class="mdc-icon-button mdc-card__action mdc-card__action--icon remove-button">
                                            <i class="material-icons mdc-icon-button__icon ">exposure_neg_1</i>
                                        </button>
                                    </div>
                                    <div class="mdc-card__action-icons">
                                        <div  class="choosing-card-timestamp"><span class="choosing-card-timestamp__text">zuletzt&nbsp;</span><span id="biontech-timer" class="choosing-card-timestamp__value"></span></div>
                                        <!--                                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>-->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="choosing-item moderna" data-type="2">
                            <div class="mdc-card choosing-card">
                                <div class=" choosing-card-counter-container">
                                    <div class="mdc-card__primary-action choosing-card__action-section" data-type="2" data-second="false">
                                        <div class="my-card__media mdc-card__media mdc-card__media--16-9 choosing-item-media choosing-card-counter-part first" data-type="2" data-second="false">
                                            <div id="moderna-counter--first" class="mdc-card__media-content choosing-card-counter"><span class="choosing-card-counter-loader lds-dual-ring"></span></div>
                                            <!--                                        <div  class="mdc-card__media-content choosing-card-timestamp"><span class="choosing-card-timestamp__text">zuletzt&nbsp;</span><span id="astra-timer" class="choosing-card-timestamp__value"></span></div>-->
                                        </div>
                                    </div>
                                    <div class="mdc-card__primary-action choosing-card__action-section" data-type="2" data-second="true">
                                        <div class="my-card__media mdc-card__media mdc-card__media--16-9 choosing-item-media choosing-card-counter-part second" data-type="2" data-second="true">
                                            <div id="moderna-counter--second" class="mdc-card__media-content choosing-card-counter"><span class="choosing-card-counter-loader lds-dual-ring"></span></div>
                                            <!--                                        <div  class="mdc-card__media-content choosing-card-timestamp"><span class="choosing-card-timestamp__text">zuletzt&nbsp;</span><span id="astra-timer" class="choosing-card-timestamp__value"></span></div>-->
                                        </div>
                                    </div>

                                    <!-- ... additional primary action content ... -->
                                </div>
                                <div class="sublabel">
                                    <span class="choosing-card-title">Erstimpfung</span>
                                    <span class="choosing-card-title">Zweitimpfung</span>
                                </div>
                                <div class="choosing-card__text-section">
                                    <span class="choosing-card-title">Moderna</span>
                                </div>
                                <div class="mdc-card__actions">
                                    <div class="mdc-card__action-buttons">
                                        <button id="moderna-refresh-button" class="mdc-icon-button mdc-card__action mdc-card__action--icon refresh-button">
                                            <i class="material-icons mdc-icon-button__icon ">refresh</i>
                                        </button>
                                        <button id="biontech-remove-button" class="mdc-icon-button mdc-card__action mdc-card__action--icon remove-button">
                                            <i class="material-icons mdc-icon-button__icon ">exposure_neg_1</i>
                                        </button>
                                    </div>
                                    <div class="mdc-card__action-icons">
                                        <div  class="choosing-card-timestamp"><span class="choosing-card-timestamp__text">zuletzt&nbsp;</span><span id="moderna-timer" class="choosing-card-timestamp__value"></span></div>

                                        <!--                                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="choosing-item astra" data-type="3">
                            <div class="mdc-card choosing-card">
                                <div class=" choosing-card-counter-container">
                                    <div class="mdc-card__primary-action choosing-card__action-section" data-type="3" data-second="false">
                                        <div class="my-card__media mdc-card__media mdc-card__media--16-9 choosing-item-media choosing-card-counter-part first" data-type="3" data-second="false">
                                            <div id="astra-counter--first" class="mdc-card__media-content choosing-card-counter"><span class="choosing-card-counter-loader lds-dual-ring"></span></div>
<!--                                            <div  class="mdc-card__media-content choosing-card-timestamp"><span class="choosing-card-timestamp__text">Zweitimpfung</span></div>-->
                                        </div>
                                    </div>
                                    <div class="mdc-card__primary-action choosing-card__action-section" data-type="3" data-second="true">
                                        <div class="my-card__media mdc-card__media mdc-card__media--16-9 choosing-item-media choosing-card-counter-part second" data-type="3" data-second="true">
                                            <div id="astra-counter--second" class="mdc-card__media-content choosing-card-counter"><span class="choosing-card-counter-loader lds-dual-ring"></span></div>
<!--                                            <div  class="mdc-card__media-content choosing-card-timestamp"><span class="choosing-card-timestamp__text">Zweitimpfung</span></div>-->
                                        </div>
                                    </div>

                                    <!-- ... additional primary action content ... -->
                                </div>
                                <div class="sublabel">
                                    <span class="choosing-card-title">Erstimpfung</span>
                                    <span class="choosing-card-title">Zweitimpfung</span>
                                </div>
                                <div class="choosing-card__text-section">
                                    <span class="choosing-card-title">Astrazeneca</span>
                                </div>
                                <div class="mdc-card__actions">

                                    <div class="mdc-card__action-buttons">
                                        <button id="astra-refresh-button" class="mdc-icon-button mdc-card__action mdc-card__action--icon refresh-button">
                                            <i class="material-icons mdc-icon-button__icon ">refresh</i>
                                        </button>
                                        <button id="astra-remove-button" class="mdc-icon-button mdc-card__action mdc-card__action--icon remove-button">
                                            <i class="material-icons mdc-icon-button__icon ">exposure_neg_1</i>
                                        </button>
                                    </div>
                                    <div class="mdc-card__action-icons">
                                        <div  class="choosing-card-timestamp"><span class="choosing-card-timestamp__text">zuletzt:&nbsp;</span><span id="astra-timer" class="choosing-card-timestamp__value"></span></div>
<!--                                                                            <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="switch-container">
                    <button id="switch-button" class="switch-button mdc-fab mdc-fab--extended">
                        <div class="mdc-fab__ripple"></div>
                        <span class="material-icons mdc-fab__icon">sync</span>
                        <span class="mdc-fab__label">Impfstoff-Wechsel</span>
                    </button>
                </div>
            </div>
        </div>

        <div id="tab--dashboard" class="app-page-content tab" data-tabid="2">
            <div id="dashboard-container">

            </div>
        </div>
    </div>


    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Hier könnte Ihre Meldung stehen.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label"></span>
                </button>
            </div>

        </div>
    </div>
    <div id="dialog1" class="mdc-dialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface"
                 role="alertdialog"
                 aria-modal="true"
                 aria-labelledby="my-dialog-title"
                 aria-describedby="my-dialog-content">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2 class="mdc-dialog__title" id="my-dialog-title">Impfstoff-Wechsel</h2>
                <div class="mdc-dialog__content" id="my-dialog-content">
                    <div class="mdc-deprecated-list-group">
                        <h3 class="mdc-list-group__subheader">Geplant:</h3>
                        <ul id="dialog-select-list1" class="mdc-deprecated-list mdc-deprecated-list--avatar-list">
                            <li class="mdc-deprecated-list-item" role="option" data-type="1" tabindex="-1">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">BionTech</span>
                            </li>

                            <li class="mdc-deprecated-list-item" role="option" data-type="2">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">Moderna</span>
                            </li>

                            <li class="mdc-deprecated-list-item" role="option" data-type="3">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">Astrazenecca</span>
                            </li>
                            <li class="mdc-deprecated-list-divider" role="separator"></li>
                        </ul>
                    </div>
                </div>
                <div class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Abbrechen</span>
                    </button>
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Weiter</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
    <div id="dialog2" class="mdc-dialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface"
                 role="alertdialog"
                 aria-modal="true"
                 aria-labelledby="my-dialog-title"
                 aria-describedby="my-dialog-content">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2 class="mdc-dialog__title" id="my-dialog-title">Impfstoff-Wechsel</h2>
                <div class="mdc-dialog__content" id="my-dialog-content">
                    <div class="mdc-deprecated-list-group">
                        <h3 class="mdc-list-group__subheader">Gewechselt auf:</h3>
                        <ul id="dialog-select-list2" class="mdc-deprecated-list mdc-deprecated-list--avatar-list">
                            <li class="mdc-deprecated-list-item" role="option" data-type="1" tabindex="0">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">BionTech</span>
                            </li>
                            <li class="mdc-deprecated-list-item" role="option" data-type="2">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">Moderna</span>
                            </li>
                            <li class="mdc-deprecated-list-item" role="option" data-type="3">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">Astrazenecca</span>
                            </li>
                            <li class="mdc-deprecated-list-divider" role="separator"></li>
                        </ul>
                    </div>
                </div>
                <div class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Abbrechen</span>
                    </button>
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Weiter</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
    <div id="dialog3" class="mdc-dialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface"
                 role="alertdialog"
                 aria-modal="true"
                 aria-labelledby="my-dialog-title"
                 aria-describedby="my-dialog-content">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2 class="mdc-dialog__title" id="my-dialog-title">Impfstoff-Wechsel</h2>
                <div class="mdc-dialog__content" id="my-dialog-content">
                    <div class="mdc-deprecated-list-group">
                        <h3 class="mdc-list-group__subheader">Erst-/ Zweitimpfung:</h3>
                        <ul id="dialog-select-list3" class="mdc-deprecated-list mdc-deprecated-list--avatar-list">
                            <li class="mdc-deprecated-list-item" role="option" data-second="false" tabindex="0">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">Erstimpfung</span>
                            </li>
                            <li class="mdc-deprecated-list-item" role="option" data-second="true">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">Zweitimpfung</span>
                            </li>
                            <li class="mdc-deprecated-list-divider" role="separator"></li>
                        </ul>
                    </div>
                </div>
                <div class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Abbrechen</span>
                    </button>
                    <button type="button" class="mdc-button mdc-dialog__button mdc-button--raised" data-mdc-dialog-action="accept">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Bestätigen</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
    <div id="dialog-remove" class="mdc-dialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface"
                 role="alertdialog"
                 aria-modal="true"
                 aria-labelledby="my-dialog-title"
                 aria-describedby="my-dialog-content">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2 class="mdc-dialog__title" id="my-dialog-title">Eintrag löschen</h2>
                <div class="mdc-dialog__content" id="my-dialog-content">
                    <div class="mdc-deprecated-list-group">
                        <h3 class="mdc-list-group__subheader">Erst-/ Zweitimpfung:</h3>
                        <ul id="dialog-select-remove" class="mdc-deprecated-list mdc-deprecated-list--avatar-list">
                            <li class="mdc-deprecated-list-item" role="option" data-second="false" tabindex="0">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">Erstimpfung</span>
                            </li>
                            <li class="mdc-deprecated-list-item" role="option" data-second="true">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-deprecated-list-item__text">Zweitimpfung</span>
                            </li>
                            <li class="mdc-deprecated-list-divider" role="separator"></li>
                        </ul>
                    </div>
                </div>
                <div class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Abbrechen</span>
                    </button>
                    <button type="button" class="mdc-button mdc-dialog__button mdc-button--raised" data-mdc-dialog-action="accept">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Bestätigen</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
</div>
<div id="bottom-container"></div>