extends ../layout

block page_includes
  link(rel='stylesheet', href='/dist/user.css')
  script(src="/dist/user.js")

  link(rel='stylesheet', href='/css/preloader.css')



block content
  #wrapper.unisams-app.app-wrapper.protocol-app
    #app-container.app-content-container.mdc-drawer-app-content.mdc-top-app-bar--fixed-adjust
      #page-container.page-container.has-sidesheet.userinfo-container

      #sidesheet-container.sidesheet-container






