extends ../layout

block page_includes

  if (exploredUser !== undefined)
    script.
     window.exploredUser = !{JSON.stringify(exploredUser)}
  if (exploredUser !== undefined)
    script.
      window.exploredUserId = "#{exploredUserId}"
  script.
    window.currentUser = #{currentUser};



  link(rel='stylesheet', href='/dist/userpage.css')
  script(src="/dist/userpage.js")

  link(rel='stylesheet', href='/css/preloader.css')





block content
  #wrapper.unisams-app.app-wrapper.protocol-app
    #app-container.app-content-container.mdc-drawer-app-content.mdc-top-app-bar--fixed-adjust
      #page-container.page-container.has-sidesheet.userinfo-container

      #sidesheet-container.sidesheet-container






