<div class="dashboard">
    <div class="dashboard-inner">
        <div class="dashboard-header">
            <span class="dashboard-header__text">{{header}}</span>
        </div>
        <div class="dashboard-module-container">


        </div>
    </div>
</div>